:root {
    --text-color: white;
    --error-color: rgb(255, 87, 87);
    --border-size: 5px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(41, 43, 54);
}

.topbar {
    background-color: rgb(59, 62, 78);
    overflow: hidden;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 2px solid rgb(37, 38, 46);
}

.searchbar {
    margin-top: 10px;
    height: 40px;
}

.searchbar > * {
    border-color: black;
    height: 100%;
    text-align: center;
    font-size: large;
    outline: none;
}

#errorMsg {
    display: none;
    padding-top: 25px;
    color: var(--error-color);
}

#content {
    padding-bottom: 25px;
    margin: 25px;
}

.content {
    background-color: rgb(50, 52, 65);
    overflow: hidden;
    border: 1px solid black;
    border-radius: var(--border-size);
    color: var(--text-color);
}

#pokeInfo {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

details {
    padding: 15px 15px 0;
    flex-basis: 100%;
}

details > summary {
    background-color: rgb(41, 43, 54);
    border: 1px solid black;
    border-radius: var(--border-size) var(--border-size) 0 0;
    padding: 4px;
    cursor: pointer;
}

.summaryText {
    text-align: left !important;
    text-transform: capitalize;
}

.summaryContent {
    border-top-left-radius: 0 !important; 
    border-top-right-radius: 0px !important; 
    padding: 10px !important;
}

p {
    font-size: 1em;
    text-align: center;
    margin: 0;
}

a {
    color: rgb(34, 184, 184);
}

input {
    width: 60vw;
    background-color: rgb(41, 43, 54);
    border-right: 0px;
    border-top-left-radius: var(--border-size);
    border-bottom-left-radius: var(--border-size);
    color: var(--text-color);
    padding-left: 10px;
}

input:hover {
    background-color: rgb(52, 54, 66);
}

button {
    background-color: rgb(47, 115, 188);
    border-left: 0px;
    border-top-right-radius: var(--border-size);
    border-bottom-right-radius: var(--border-size);
    color: var(--text-color);
}

button:hover {background-color: rgb(92, 169, 251);}

button:active {background-color: rgb(36, 70, 107);}

@media (min-width: 768px) {
    details, .imgPlaceholder {
        flex-basis: 47.5%;
    }
}
